body{
    background-color: blue;
}
.heading{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.name{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    width: 350px;
    height: 350px;
    box-shadow: 4px 4px 5px 0 pink;
}
.thank{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fallow{
    text-align: center;
    color: white;
}
a{
    color: white;
}